.odd{
    background-color: pink;
    font-style: Verdana, "DejaVu Sans", sans-serif;
}

#second{
    color: rgb(0, 0, 255);
    font-size: 36px;
}

.third{
    font-size: 24px;
}

#fourth{
    font-size: 24px;
    background-color: hsl(90, 100%, 25%);
    font-weight: bold;
}